@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

:root {
  --main-color: #006699;
  --light-grey: #e2e2e2;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #0095dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

p,
span,
li {
  font-size: 10.5px;
  margin-top: 0px;
  margin-bottom: 5px;
}

ul {
  padding-left: 11px;
}

li {
  color: grey;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  color: black;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--main-color);
  border-bottom: solid var(--main-color) 3px;
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  color: var(--main-color);

  margin: 0;
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}

h5 {
  font-size: 12px;
  margin: 0;
  margin-bottom: 15px;
}

h5 i {
  color: var(--main-color);
}

.contact-items > * {
  margin-right: 25px;
}

a {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.grey-text,
.grey-text * {
  color: grey;
}

.blue-text,
.blue-text * {
  color: var(--main-color);
}

.icon-left i {
  padding-right: 5px;
}

.icon-right i {
  padding-left: 5px;
}

.column-container,
.bisect-container {
  display: flex;
  justify-content: space-evenly;
}

.bisect-container > * {
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
}

.resume-container {
  width: 800px;
  background-color: white;
  padding: 40px;
}

.col-left {
  margin-right: 40px;
  width: 400px;
  /* flex-grow: 8; */
}

.col-right {
  /* flex-grow: 5; */
  width: 280px;
}

.clumped {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  padding: 3px 5px 3px 5px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.section {
  margin-bottom: 15px;
}
